body {
    padding: 10px;
}

.searchButon {
    padding-top: 20px !important;
}

.pagination {
    text-align: center;
}

.searchHolder {
    text-align: end;
}

.loading {
    position: absolute;
    top: 49%;
    right: 49%;
}

#backToArtist {
    cursor: pointer;
}